<div class="col-md-6 user-container">
  <h2 class="text-center">Modificar tarea</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" formControlName="id" name="id" class="form-control" id="id" readonly="true">
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control" id="nombre" name="nombre">
    </div>

    <div class="form-group">
      <label for="detalleTarea">Detalle:</label>
      <input type="text" formControlName="detalle" class="form-control" id="detalleTarea" name="detalle"  >
    </div>

    <div class="form-group">
      <label for="estadoTarea">Estado de la tarea:</label>
      <input type="text" formControlName="estado" class="form-control" id="estadoTarea" name="estadoTarea">
    </div>


    <button type="submit" class="btn btn-success">Modificar</button>
  </form>
</div>