<div class="panel panel-default">
  <div class="panel-heading">
      <h1>Tareas</h1>
  </div>
  <div class="panel-body">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Detalle</th>
                  <th>Estado</th>
                  <th>Accion</th>
                  <th>Accion</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let tarea of tareas | async">
                  <td>{{tarea.id}}</td>
                  <td>{{tarea.nombre}}</td>
                  <td>{{tarea.detalle}}</td>
                  <td>{{tarea.estado}}</td>
                  <td><button class="btn btn-danger"  (click)="borrar(tarea.id)">Borrar </button></td>
                  <td><button class="btn btn-success" (click)="editarTarea(tarea)">Editar </button></td>
                  
              </tr>
          </tbody>
      </table>
  </div>
  <button class="btn btn-success" style="width:100px" (click)="crearTarea()"> Crear tarea</button>
</div>