<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="container">

      <div class="masthead clearfix">
        <div class="container inner">
          <h3 class="masthead-brand">Codeicus</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="listarTarea">Tareas</a></li>
              <li><a href="listarLogs">Logs</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Bienvenid@</h1>
        <p class="lead">Este es el proyecto de Codeicus para evaluar a sus candidatos.</p>
        <p class="lead">
          
        </p>
      </div>

    </div>

  </div>

</div>