  <br>
  <h2 class="text-center font-weight-bold">Crear tarea</h2>
  <br>
  <div class="d-flex justify-content-center align-items-center container">
  <div [hidden]="submitted" style="width: 300px;">
    <form #createForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="font-weight-bold" for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" required [(ngModel)]="tarea.nombre" name="nombre" #spy
        #nombre="ngModel">
        <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">Se requiere el nombre </div>
      </div>
 
      <div class="form-group">
        <label for="detalle">Detalle</label>
        <input type="text" class="form-control" id="detalle" [(ngModel)]="tarea.detalle" name="detalle">
      </div>

      <div class="form-group">
        <label for="estado">Estado</label>
        <input type="text" class="form-control" id="estado" [(ngModel)]="tarea.estado" name="estado">
      </div>
      <button type="submit" [disabled]="!createForm.form.valid" class="btn btn-success">Crear!</button>
      <button class="btn btn-primary" (click)="volver()">Volver</button>
    </form>
  </div>
<div [hidden]="!submitted">
  <br>
  <div class="alert alert-success" role="alert">
      La tarea se creo correctamente
    </div>
  <br>
  <button class="btn btn-primary" (click)="volver()">OK</button>
</div>
</div>



